     <br /> 
     <br /> 
      <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-text pull-left">
  
 
        <p>&copy; 2012 - <%= Time.now.strftime("%Y") %> <%= link_to 'Chesnowitz Interactive','http://chesnowitz.com/', 
        :target => "_blank" %>  </p>
  
   
      </div>
    </div>  
      