<% if current_user %>
<div class="jumbotron">
  <div class="container">
    <p>
    Hello <%= current_user.username %>, Thanks for taking the time to look over our 
    cool app.  below you will find basic instructions and some general areas our 
    sofware can assist you and your business.
    </p>
    <p>
        This application is designed to mine data from the Rotten Tomatoes website.  
        all you need to do is visit <%= link_to "Rotten Tomatoes", 
        "http://www.rottentomatoes.com/", :target => "_blank" %> and find a movie you 
        would like gather info about, enter the url and scrape.  
        <br />
        in this example, we are scraping info from Rotten Tomatoes. 
        However, if you are in the business of collecting data, we are sure you can see the 
        benefit of and application like this.
        <br />
        <br />
        This site also uses sample stripe payment processing that administration to limit 
        feature access not only based on user status, but on payment status.  
        Once a User is subscribed they can manage there subscription from their profile page.
    </p>
    <h3>How some may use the data collected.</h3>
    <ul>
      <li>
          populate a website with  content super quickly.  
          Get your site set up fast with news articles, blog posts, job postings
          or whatever information you need for your site.  the cool thing is, 
          you can always keep your site up to date with current content with just a few clicks!
      </li>
        <li>
            scrape products from retailer or manufacturer websites to show in their 
            own website or provide specs/price comparison.
        </li>
          <li>
              scrape business profiles and reviews to track online presence and 
              reputationscrape people profiles from social networks for tracking online reputation.
          </li>
            <li>
                scrape search engine results for SEO tracking.
            </li>
              <li>
                  monitor specific company pages from social networks to gather what 
                  people are saying about certain companies and their products.
              </li>      
            <li>
                scrape health physicians from their clinic websites to provide a catalog 
                of available doctors per specialization and region.
            </li>
          <li>
              scrape job ads from many ATS (Application Tracking System) to build 
              online directories or provide better targeted ads to their customers.
          </li>
        <li>
            scrape product reviews from retailers to detect fraudulent reviews.
        </li>
      <li>
          scrape news websites to apply custom analysis and curation 
          (manual or automatic), often with the goal of providing better 
          targeted news to their audience.
      </li>
    </ul>
    <p>Whatever your datamining needs, Chesnowitz Interactive can build the solution.</p>
    
  </div>
</div>
<% end %>
<% if !current_user %>
<div class="jumbotron text-center">
  <div class="container">
    <h1>Just enter any "Rotten Url" and get the data!</h1>
    <p>this app mines data from <%= link_to "Rotten Tomatoes", 
    "http://www.rottentomatoes.com/", :target => "_blank" %></p>
    <p><%= link_to "Get your Data", new_user_registration_path, class: "buttonCall" %></p>
  </div>
</div>
<% end %>

