<div class="jumbotron text-center">
  <div class="container">
    <h1>Just enter any "Rotten Url" and get the data!</h1>
    <p>this app mines data from <%= link_to "Rotten Tomatoes", 
    "http://www.rottentomatoes.com/", :target => "_blank" %></p>
    <p><%= link_to "Get your Data", new_user_registration_path, class: "buttonCall" %></p>
  </div>
</div>